
<div class="homepage mb-5" style="background-image: url(assets/images/BG1.png);">
  <div class="container-fluid g-0 mobile-about-adjus" style="margin-top: 3.2%;" >

    <div class="row g-0 align-items-center">
      <div class="col-12 mt-xl-5 mb-xl-4 mt-0">
        <img src="assets/images/carousel_img.jpg" alt="my-happy-plays01" class="w-100">

      </div>
    </div>

  </div>

  <div class="container mob-privacy-adjus">
    <div class="row">
      <div class="col-12">
        <div class="policy-content p-xl-0 p-md-0 p-lg-0 p-4">
          <h6> <pre class="policies" style="  font-size: 18px;
            color: black !important;
            font-family: 'Poppins' !important;
            overflow: hidden !important;
            line-height: 1.5 !important;
            word-spacing: 5px  !important;
            white-space: break-spaces !important;
            text-align: justify !important;">
Thank you for visiting us at MyHappyPlays. Your time here is greatly appreciated.

I'd like to introduce ourselves. I am AKILA, mother of NITHICK & SHRYA, and a Dentist.

Our whole site and the products we display are inspired from my children and developed suit the need to ENGAGE THEM WITH NEW PLAY IDEAS as they have an ever inquisitive mind.


Our INTENTIONS are to " PROMOTE INDEPENDENT PLAYTIME ", with the use of simple, yet engaging materials for the child to play with. We focus on a HOLISTIC approach towards play which involves incorporating NATURE to a good extent,as we all know..

"NATURE IS OUR GREATEST TEACHER -EDNA WALLING".


Our STORE has a varied Range of MATERIALS AND MANIPULATIVES to encourage SENSORY PLAY, and our CREATIVE CORNER-KITCHEN SCIENCE / ART WITH NATURE sections show PRACTICAL, EASY TO DO,COLOR FILLED concepts to let your children have a MINDFUL HANDS-ON FUN EXPERIENCE and savor them for longer than we expect.
</pre></h6>

        </div>
      </div>
    </div>
  </div>

</div>
