<div class="container-fluid footer-border mb-5">
  <div class="row g-0">
    <div class="col-12">

    </div>
  </div>
</div>





 <div class="container-fluid  ">
  <div class="row mx-xl-5 mx-lg-0 mx-0">
    <div class="col-md-4 col-xl-4 col-12 footer-row1  d-flex justify-content-center flex-column ">
      <div class="row">
        <div class="col-12 logo-img mb-3 text-center">
          <img class="" src="assets/images/logo.png" alt="">

        </div>
      </div>
      <div class="row footer-1-quotes-header d-flex justify-content-center flex-row mb-2 ">

        <div class="col-12 d-flex justify-content-evenly align-items-center">
          <span>Creative</span><span><i class="fas fa-circle"></i></span><span>Mindful</span><span><i class="fas fa-circle"></i></span><span>Fun</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 footer-1-quotes mb-3">
          <h4>
            The kind of Fun that's grounding and soothing to your child.

          </h4>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-xl-4 col-12 footer-row2  d-flex justify-content-center flex-column desktop-footer" *ngIf="desktopfooter">
      <div class="row">
        <div class="col-12 footer-header-2">
          <h5 class="pl-xl-5">
            Our Contacts
          </h5>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-3 footer-contact-ph-img text-center">
          <img  src="assets/images/Icon6.png" alt="">
        </div>
        <div class="col-9 px-0 footer2-text">
          <h6>+91 9047251177
          </h6>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-3 footer-contact-mail-img text-center">
          <img  src="assets/images/Icon7.png" alt="">
        </div>
        <div class="col-9 px-0 footer2-text">
          <h6>support@myhappyplays.com
          </h6>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-3 footer-contact-location-img  text-center">
          <img src="assets/images/Icon5.png" alt="">
        </div>
        <div class="col-9 px-0 footer2-text">
          <h6>No 18, Aibea nagar, Mogappair West, Chennai-600037</h6>
        </div>
      </div>
      <div class="row footer-social mt-4">
        <div class="col-4 p-0 pinterest">
         <a href="https://in.pinterest.com/myhappyplaysofficial/_created/"><img src="assets/images/Icon2.png" alt=""></a>

        </div>
        <div class="col-4 p-0 insta">
          <a href="https://instagram.com/myhappyplaysofficial"><img src="assets/images/Icon3.png" alt=""></a>

        </div>
        <div class="col-4 p-0 fb">
        <a href="https://www.facebook.com/Myhappyplaysofficial-106807755213061"><img src="assets/images/Icon4.png" alt=""></a>

        </div>
      </div>

    </div>
    <div class="col-md-4   col-xl-4 col-12 mt-col-5 footer-row1 d-flex justify-content-center flex-column align-items-center desktop-footer" *ngIf="desktopfooter">
      <div class="row">
        <div class="col-12 footer-header-2">
          <h5 class="pr-xl-5 d-none">
             Our Menu
          </h5>
        </div>
      </div>
      <ul class="footer-quick-links">
        <!-- <li>Home</li>
        <li>Shop</li>
        <li>Blog(Creative Corner)</li>
        <li>Art With Nature</li>
        <li  (click)="pagetop()" style="cursor: pointer;" [routerLink]="['/aboutus']" >About Us</li> -->
        <li (click)="pagetop()" style="cursor: pointer;" [routerLink]="['/policy']">Policies</li>
      </ul>
    </div>
  </div>








  <div class="accordion accordion-flush mb-4 mobile-footer" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Our Contacts
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row mt-4 justify-content-center">
            <div class="col-3 footer-contact-ph-img justify-content-end d-flex    align-items-center">
              <img  src="assets/images/Icon6.png" alt="">
            </div>
            <div class="col-9   footer2-text d-flex justify-content-start  align-items-center">
              <h6>+91 9047251177
              </h6>
            </div>
          </div>
          <div class="row mt-4 justify-content-center">
            <div class="col-3 footer-contact-mail-img justify-content-end d-flex    align-items-center">
              <img  src="assets/images/Icon7.png" alt="">
            </div>
            <div class="col-9   footer2-text d-flex justify-content-start  align-items-center">
              <h6>support@myhappyplays.com
              </h6>
            </div>
          </div>
          <div class="row mt-4 justify-content-center">
            <div class="col-3 footer-contact-location-img  justify-content-end d-flex    align-items-center">
              <img src="assets/images/Icon5.png" alt="">
            </div>
            <div class="col-9   footer2-text d-flex justify-content-start  align-items-center">
              <h6>No 18, Aibea nagar, Mogappair West, Chennai-600037</h6>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="accordion-item d-none">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
         Quick Links
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse d-none" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <ul class="footer-quick-links" style="padding: 0 !important;">
            <li class="text-center text-dark"><b>Home</b></li>
            <li class="text-center text-dark"><b>Shop</b></li>
            <li class="text-center text-dark"><b>Blog(Creative Corner)</b></li>
            <li class="text-center text-dark"><b>Art With Nature</b></li>
            <li class="text-center text-dark" (click)="pagetop()" style="cursor: pointer;" [routerLink]="['/aboutus']"><b>About Us</b></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Policy
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h6 (click)="pagetop()" [routerLink]="['/policy']">Policies</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-footer">


  <div class="row footer-social mb-5">
    <div class="col-4  pinterest">
      <a href="https://in.pinterest.com/myhappyplaysofficial/_created/"><img src="assets/images/Icon2.png" alt=""></a>
    </div>
    <div class="col-4  insta">
       <a href="https://instagram.com/myhappyplaysofficial"><img src="assets/images/Icon3.png" alt=""></a>

    </div>
    <div class="col-4  fb">
   <a href="https://www.facebook.com/Myhappyplaysofficial-106807755213061"><img src="assets/images/Icon4.png" alt=""></a>
    </div>
  </div>
</div>

</div>
<div class="copy-rights mb-2" style="overflow: hidden;">
  <div class="row d-flex justify-content-center">
    <div class="col-12 mobile-copy col-xl-6 col-lg-6 col-md-6 text-xl-right text-lg-right text-md-right  p-xl-0" style="color: black; font-size: 14px;">© 2022,My HappyPlays.</div>
    <div class="col-12 mobile-copy col-xl-6 col-lg-6 col-md-6 text-xl-left  text-md-left text-lg-left p-xl-0" style="font-size: 14px;"> Designed and Developed By <a href="https://chronoinfotech.com/" style="font-size: 14px; color: #f27360;">Chrono Infotech</a></div>
  </div>
</div>

